<!-- <mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>{{cartItem.productId}}</mat-card-title>
        <mat-card-subtitle>{{cartItem.quantity}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>

      <mat-form-field>
      <mat-select [(ngModel)]="cartItem.quantity" (selectionChange)="onQuantityChange(cartItem.productId,$event.value)">
        <mat-option *ngFor="let quantity of quantities" [value]="quantity">{{ quantity }}</mat-option>
      </mat-select>

    </mat-form-field>

    </mat-card-content>
    <mat-card-actions>

    </mat-card-actions>
</mat-card> -->

<mat-card >
  <mat-card-content>
<div fxLayout="row" fxLayoutGap="32px" fxLayoutAlign="flex-start">
    <div >
        Image
    </div>

        <div fxLayout="column ">
          <button  mat-raised-button color="warn" (click)="removeProduct(cartItem.product)" >Remove</button>
            {{cartItem.product.id}}
{{cartItem.product.selectedSize}}
{{cartItem.product.selectedColor}}


              <mat-form-field>
                 <mat-label>Qty:</mat-label>
                <mat-select [(ngModel)]="cartItem.quantity" (selectionChange)="onQuantityChange(cartItem.product,$event.value)">
                  <mat-option *ngFor="let quantity of quantities" [value]="quantity">{{ quantity }}</mat-option>
                </mat-select>
              </mat-form-field>


        </div>

</div>
</mat-card-content>
</mat-card>
