<mat-card class="example-card" >

    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">

    <mat-card-content>
        <div class="flex-container" fxLayout="column">
          <div *ngFor="let color of product.colours">
            <app-color-selector [color]="color" [productId]= "product.id"
            (colorSelected)="onColorSelected($event)"> </app-color-selector>
          </div>
            <div >
                <span>{{product.name}}</span>
            </div>
            <div >
                  <span>{{product.priceRange}}</span>
            </div>
        </div>
    </mat-card-content>
    <mat-card-actions>
<button mat-button (click)="showDetails()" >Show details</button>

</mat-card-actions>
</mat-card>
