<div  fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="32px" fxLayoutAlign="flex-start">

    <mat-card  fxFlex="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%">

            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">

        </mat-card>


    <div fxFlex="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%"  fxLayoutAlign.lt-sm = "center">
        <div class="flex-container" fxLayout="column">
            <div >
                <h1>{{product.id}}</h1>
            </div>
            <mat-divider></mat-divider>
            <div >
              <mat-form-field >
              <mat-label>SELECT SIZE: </mat-label>
              <mat-select (selectionChange)="changeSize($event.value)">
                <mat-option *ngFor="let size of product.sizes" [value]="size">
                  {{size}}
                  {{product.prices.get(size)}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            </div>

            <div>
              SELECT COLOR:
              <div *ngFor="let colour of product.colours">
                 <app-color-selector [color]="colour" [productId]= "product.id"
                (colorSelected)="onColorSelected($event)"> </app-color-selector>

                </div>

            </div>


            <div >
                <h4>{{product.price}}</h4>
            </div>
            <div >
                <button (click)="addProductToCart()" name="button"> add to cart </button>
            </div>
        </div>
    </div>

</div>
