<div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="32px" fxLayoutAlign="flex-start">
    <div fxFlex="0 1 calc(33.3% - 32px)" fxFlex.lt-md="100%">


        <div fxLayout="column " fxLayoutGap="32px">
            1.REVIEW YOUR ORDER ({{itemCount}} ITEMS)
                      <mat-divider></mat-divider>
            <div *ngFor=" let cartItem of cartItems">
              <app-cart-item [cartItem]="cartItem"> </app-cart-item>
              </div>
        </div>
            Subtotal: {{(cart | async).grossTotal}}
    </div>
    <div fxFlex="0 1 calc(33.3% - 32px)" fxFlex.lt-md="100%">
        <div fxLayout="column ">
  2.DELIVERY ADDRESS
        </div>
    </div>
    <div fxFlex="0 1 calc(33.3% - 32px)" fxFlex.lt-md="100%">
        REVIEW YOUR ORDER
    </div>
</div>
