<mat-toolbar>
    <mat-toolbar-row fxLayout="row" fxLayoutGap="15px">
        <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
            <mat-icon>menu</mat-icon>
        </button>

        <span div fxLayout="row" fxLayoutAlign="center center" >CCC</span>
        <span class="example-spacer"></span>
        <div fxShow="true" fxHide.lt-md >
            <a  [routerLink]="['/']"  mat-button>Home</a>
            <a  [routerLink]="['/products']"  mat-button>Products</a>
            <a  [routerLink]="['/store']" mat-button>Store</a>
        </div>
        <div fxFlex fxLayoutAlign="end">

            <a [routerLink]="['/cart']" mat-button> <mat-icon matBadge="{{itemsNumber}}" matBadgeColor="accent">
                shopping_cart
            </mat-icon>
          </a>


        </div>
    </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container fxFlexFill>
    <mat-sidenav mode="over" #sidenav>
        <mat-nav-list  fxLayout="column">
            <a href="/" mat-button>Home</a>
            <a href="/product" mat-button>Product</a>
            <a href="/store" mat-button>Store</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
        <main>
            <router-outlet></router-outlet>
        </main>
    </mat-sidenav-content>
</mat-sidenav-container>
